body{
    font-family: 'Poppins', sans-serif;
}
.top-part-bg{
    background: #F0FFF0;
    height: 576px;
}
.icon{
    width: 198.07px;
    height: 59px;
}
.btn{
    border-radius: 33px;
    padding: 12px 36px;
}
.card-image-size{
    width: 66px;
    height: 85px;
    margin: 0px auto;
}
.card-modify{
    background: #F8FFFB;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    border: none;
    transition: 0.3s all ease-in-out;
    padding: 30px 10px;
}
.card-modify:hover{
    background-color: #ffffff;
    box-shadow: 0px 0px 20px lightgray;
    cursor: pointer;
}
.card-height{
    height: 255px;
}
.section-header{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: bold;
}
.courses-box{
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px lightgray;
    padding: 15px 10px;
    border-radius: 10px;
}
.icon-image{
    width: 24px;
    height: 24px;
}
.about-image{
    width: 120px;
    height: 120px;
    margin-right: auto;
}
.course-info{
    margin-top: 50px;
}
footer{
    background: #282531;
    padding: 40px 20px 10px 20px;
    margin-top: 100px;
    height: 100%;
}
a{
    color: #ffffff;
}
a:hover{
    text-decoration: none;
    color: #a79f9f;
}
.footer-text{
    text-align: center;
    margin-top: 50px;
    color: #a79f9f;
}